---
layout: default
title: Home
---

<h1 class="post-title">Welcome!</h1>

Hi, I am a Ph.D. candidate and research associate in the <a href="https://www.collaborative-ai.org/">Collaborative Artificial Intelligence (CAI)</a> group under the supervision of <a href="https://www.perceptualui.org/people/bulling/">Prof. Dr. Andreas Bulling</a> at the <a href="https://www.uni-stuttgart.de">University of Stuttgart</a>, Germany and a Ph.D. scholar at the <a href="https://imprs.is.mpg.de"> International Max Planck Research School for Intelligent Systems (IMPRS-IS)</a>. 
Next to Andreas Bulling, Prof. Dr. Georg Martius (<a href="https://is.mpg.de/person/gmartius">Max Planck Institute for Intelliegent Systems</a>, <a href="https://uni-tuebingen.de/fakultaeten/mathematisch-naturwissenschaftliche-fakultaet/fachbereiche/informatik/lehrstuehle/distributed-intelligence/team/prof-dr-georg-martius/">University of Tübingen</a>) and Dr. Charley Wu (<a href="https://uni-tuebingen.de/en/research/core-research/cluster-of-excellence-machine-learning/research/research/cluster-research-groups/research-groups/human-and-machine-cognition/">University of Tübingen</a>) are part of my IMPRS-IS Thesis Advisory Committee. 

My work aims to improve human-AI cooperation by investigating the intersection of several different research fields, including MARL, Computational Theory of Mind, Zero-Shot Cooperation and Open-endedness:
<ol>
  <li>I reasearch the intersection between partner and map generalisation, i.e. in <a href="https://arxiv.org/abs/2406.17949">The Overcooked Generalisation Challenge</a>.</li>
  <li>I research how computational Theory of Mind and Multi-Agent Reinforcement Learning can be combined to improve zero-shot human-AI cooperation.</li>
  <li>I try to adress how open-ended learning is connected to learning Theory of Mind in artificial agents.</li>
</ol>

You can find more about me or my work on the <a href="{{ site.baseurl }}about">about page</a>, on our <a href="https://www.perceptualui.org/people/ruhdorfer/">groups website</a>, or on <a href="https://scholar.google.de/citations?user=Bb4aplwAAAAJ&hl=de">google scholar</a>.
For students interested in a project or thesis please check the <a href="https://www.perceptualui.org/teaching/open-projects/">open thesis page</a>.

<h2 class="post-title">Publications</h2>

<ol>
  <li><b>2024:</b> Bortoletto, M., <b>Ruhdorfer, C.</b>, Shi, L. & Bulling, A. (2024). <i>Explicit Modelling of Theory of Mind for Belief Prediction in Nonverbal Social Interactions.</i> Proc. European Conference on Artificial Intelligence (ECAI), pp. 1–7, 2024. <a href="https://www.perceptualui.org/publications/bortoletto24_ecai/">[website]</a> <a href="https://arxiv.org/abs/2407.06762">[arxiv]</a></li>
  <li><b>2024:</b> <b>Ruhdorfer, C.</b>, Bortoletto, M., Penzkofer, A. & Bulling, A. (2024). <i>The Overcooked Generalisation Challenge.</i> Preprint arXiv:2406.17949. <a href="https://www.perceptualui.org/publications/ruhdorfer2024_arxiv/">[website]</a> <a href="https://arxiv.org/abs/2406.17949">[arxiv]</a></li>
  <li><b>2024:</b> Bortoletto, M., <b>Ruhdorfer, C.</b>, Shi, L. & Bulling, A. (2024). <i>Benchmarking Mental State Representations in Language Models.</i> ICML Workshop on Mechanistic Interpretability. <a href="https://www.perceptualui.org/publications/bortoletto24_icmlw.pdf">[paper]</a> <a href="https://www.perceptualui.org/publications/bortoletto24_icmlw/">[website]</a> <a href="https://arxiv.org/abs/2406.17513">[arxiv]</a></li>
  <li><b>2024:</b> Bortoletto, M., <b>Ruhdorfer, C.</b>, Abdessaied, A., Shi, L. & Bulling, A. (2024). <i>Limits of Theory of Mind Modelling in Dialogue-Based Collaborative Plan Acquisition.</i> Proc. 62nd Annual Meeting of the Association for Computational Linguistics (ACL), pp. 1–16, 2024. <a href="https://www.perceptualui.org/publications/bortoletto24_acl.pdf">[paper]</a> <a href="https://www.perceptualui.org/publications/bortoletto24_acl/">[website]</a> <a href="https://arxiv.org/abs/2405.12621">[arxiv]</a> <a href="https://aclanthology.org/2024.acl-long.266/">[acl]</a></li>
  <li><b>2024:</b> Wang, Y., Jiang, Y., Hu, Z., <b>Ruhdorfer, C.</b>, Bhâce, M., & Bulling, A. (2024). <i>VisRecall++: Analysing and Predicting Visualisation Recallability from Gaze Bahaviour.</i> Proc. ACM on Human-Computer Interaction (PACM HCI), 1–11. <a href="https://www.perceptualui.org/publications/wang24_etra.pdf">[paper]</a> <a href="https://www.perceptualui.org/publications/wang24_etra/">[website]</a> <a href="https://dl.acm.org/doi/10.1145/3655613">[acm]</a></li>
  <li><b>2020:</b> <b>Ruhdorfer, C.</b>, & Schulz, S. (2020). <i>Efficient Implementation of Large-Scale Watchlists.</i> PAAR+SC<sup>2</sup> @ International Joint Conference on Automated Reasoning (IJCAR) (pp. 120-133). <a href="http://wwwlehre.dhbw-stuttgart.de/~sschulz/PAPERS/RS-PAAR-2020.pdf">[paper]</a> <a href="http://www.eprover.eu/E-eu/SoftWatch.html">[website]</a></li>
</ol>

<h2 class="post-title">Conferences, Summer Schools and Other</h2>

<ul>
  <li><b>2024</b>: Attended the <a href="https://imprs.is.mpg.de/events/imprs-is-boot-camp">IMPRS-IS 2024 Bootcamp</a> in Sonthofen, Germany and presented a poster about my paper: <i>The Overcooked Generalisation Challenge</i>.</li>
  <li><b>2024</b>: I help with the organization of the ELLIS Distinguished Lecture Series at the <a href="https://ellis-stuttgart.eu">ELLIS Unit Stuttgart</a>.</li>
  <li><b>2024</b>: Attended the 2024 ELLIS summer school on Collaborative and Generative AI <a href="https://fcai.fi/ellis-summer-school-2024/home">(CoGenAI)</a> at Aalto University, Helsinki, Finnland.</li>
</ul>

<h2 class="post-title">Awards</h2>

<ul>
  <li><b>2024</b>: Rul Gunzenhäuser award for the best Master's thesis at the Institute for Visualisation and Interactive Systems, Stuttgart University in 2023.<a href="https://www.perceptualui.org/news/2024/04/constantin-ruhdorfer-receives-rul-gunzenhaeuser-preis/">[announcement]</a> <a href="https://www.informatik-forum.org/publicity/preistraeger">[website]</a></li>
</ul>

<h2 class="post-title">Teaching</h2>
For details please refer to <a href="https://www.perceptualui.org/teaching/">here</a>.

<ul>
  <li><b>2024 (winter)</b>: Mediainformatics (Organizer and Tutor) (Bachelor level course)</li>
  <li><b>2024 (summer)</b>: Computational Theory of Mind and Cognition (Organizer, Tutor and Lecturer) (Master level practical course)</li>
  <li><b>2024 (summer)</b>: Human Computer Interaction (Tutor) (Bachelor level lecture)</li>
  <li><b>2023 (winter)</b>: Machine Perception and Learning (Tutor) (Master level lecture)</li>
</ul>

<h2 class="post-title">Supervision</h2>

I regulary supervise Master and Bachelor theses, see <a href="https://www.perceptualui.org/people/ruhdorfer/">here</a> for a full list and if interested our <a href="https://www.perceptualui.org/teaching/open-projects/">open projects page</a>. 
To this day I was or am involved in supervising a total of 3 students in their Master Thesis and a total of 8 students in various group projects offered through some of our lectures.



<hr />

<h1 class="post-title">News</h2>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
